boost/

RootCounter

tst/*.gcno
tst/*.gcda
tst/*.gcov

tst/basic_test
tst/simple_root_counting

tst/poly8
tst/poly4
tst/poly134
tst/poly128

tst/poly88
tst/poly110
tst/poly272
tst/poly387
tst/poly798
tst/poly254
tst/poly52

tst/result.txt
tst/unsorted_setups.txt
