name: KeepAlive
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

permissions:
  actions: write

jobs:
  keepalive:
    name: Keep repository alive
    runs-on: ubuntu-latest
    steps:
      - uses: gautamkrishnar/keepalive-workflow@v2
        with:
          time_elapsed: "0"
          auto_write_check: "true"
