name: Polytope882

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  Poly882:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Install boost
        run: sudo apt install -y libboost-all-dev
      - name: Configure
        run: ./configure
      - name: Install
        run: make install
      - name: Run test
        run: make poly882_test
